h1 {
  margin-bottom: 8px;
  padding: 0;
  font-family: "Linux Libertine", Georgia, Times, serif;
  line-height: 1.375;
  border-bottom: 1px solid #a2a9b1;
}

a {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.heading {
  text-align: center;
  display: block;
  font-size: 14px;
}

.heading span {
  font-size: 12px;
}

.table {
  display: table;
  padding: 7px;
  background-color: #f8f9fa;
  border: 1px solid #a2a9b1;
  padding: 5px;
  font-size: 95%;
}

.table ol {
  text-align: left;
}

.table li {
  margin-bottom: 4px;
}

#Historia span {
  font-size: 14px;
}
#Historia {
  margin-top: 16px;
  color: #000000;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.17em;
  overflow: hidden;
  border-bottom: 1px solid #a2a9b1;
}
p {
  margin: 8px 0;
  display: block;
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
