h1 {
  margin-bottom: 8px;
  padding: 0;
  font-family: "Linux Libertine", Georgia, Times, serif;
  line-height: 1.375;
  border-bottom: 1px solid #a2a9b1;
}

h2 {
  border-bottom: 1px solid #a2a9b1;
  margin-top: 16px;
  color: #000000;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.17em;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.heading {
  text-align: center;
  display: block;
  font-size: 14px;
}

.heading span {
  font-size: 12px;
}

.table {
  display: table;
  padding: 7px;
  background-color: #f8f9fa;
  border: 1px solid #a2a9b1;
  padding: 5px;
  font-size: 95%;
}

.table ol {
  text-align: left;
}

.table li {
  margin-bottom: 4px;
}

#Historia span {
  font-size: 14px;
}

p {
  margin: 8px 0;
  display: block;
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.6;
}

.z-heading span {
  font-size: 14px;
}

.zabytki-list {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.zabytki-list li {
  margin-bottom: 0.1em;
  display: list-item;
  line-height: 1.6;
}

.Demo span {
  font-size: 14px;
}

.demografia-table {
  display: table;
  background-color: #f8f9fa;
  color: #202122;
  margin: 1em 0;
  border: 1px solid #a2a9b1;
  border-collapse: collapse;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
}

.demografia-table tr {
  display: table-row;
  border-color: inherit;
}

.demografia-table th {
  background-color: #eaecf0;
  text-align: center;
  border: 1px solid #a2a9b1;
  font-weight: bold;
}

.demografia-table td {
  text-align: center;
  border: 1px solid #a2a9b1;
  padding: 0.2em 0.4em;
}
